{% extends 'layouts/base.html' %}

{% block content %}
{% include 'layouts/partials/nav.html' %}


<h1 class="text-center mt-5">Cart</h1>
{% for product in products %}
    <div class="card mb-3 mx-md-5" style="width: 50%;">
        <div class="row g-0">
            <div class="col-md-0 ml-4 d-flex align-items-center">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail" style="width: 200px; height: 200px;">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="margin-top: 10px;">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: US${{ product.price }}</p>
                    <p class="card-text">State: {{ product.get_state_display }}</p>
                    <form method="POST" action="{% url 'removeFromCart' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove from cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}



{% endblock %}